*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // transition: all .5s ease-in-out;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;

    outline: none;
}

/*****************  BTN *********************/

.btn {
    font-size: 20px;

    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1.75;

    padding: 18px 45px;

    border: 0;

    background-color: #3984f3;
}

/*****************  Nav  *********************/

.nav__wrapper {
    padding-top: 50px;
    font-family: 'Nunito', sans-serif;

    nav {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;

        .logo img {
            height: 50px;
            width: 175px;
        }

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            li {
                &:not(:last-child) {
                    margin-right: 65px;
                }

                #sign {
                    border: 3px solid #3984f3;

                    padding: 15px 45px;

                    color: #3984f3;

                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 600;
                }

                a {
                    font-size: 20px;
                    color: rgb(186, 184, 184);
                    line-height: 0.73;
                    text-align: center;

                    &:hover {
                        color: rgb(68, 151, 243);
                    }
                }

            }
        }
    }
}

/*****************  Header  *********************/

.header {
    padding-top: 65px;
    padding-bottom: 200px;
}

.header__intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header__title {

    h1 {
        font-size: 75px;
        color: rgb(9, 30, 64);
        font-weight: 800;
        line-height: 1.067;
        text-align: left;

        width: 100%;
        max-width: 515px;

        margin-bottom: 80px;
    }

    p {
        font-size: 22px;

        color: rgb(129, 133, 142);
        line-height: 1.591;

        text-align: left;

        font-weight: 400;

        width: 100%;
        max-width: 470px;

        margin-bottom: 95px;
    }
}

.header__pict {
    img {
        transform: translateX(75px);
    }
}

/*****************  Order *********************/

.order {
    overflow: hidden;
    background: url(../img/order/back.jpg) no-repeat center;
    background-size: cover;
    position: relative;

    &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgb(30, 61, 86);
        opacity: 0.5;

        z-index: 1;
    }
}

.order__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 310px;
    margin-bottom: 310px;

    position: relative;
    z-index: 2;

    h2 {
        font-size: 39px;
        font-weight: 600;

        text-transform: uppercase;
        line-height: 1.238;
        text-align: center;

        margin-bottom: 15px;

        color: rgb(255, 255, 255);
    }

    h3 {
        font-size: 49px;

        color: rgb(255, 255, 255);
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.264;
        text-align: center;

        padding-bottom: 85px;
    }

    //Select
    .select__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .btn--order {
            width: 350px;
            height: 70px;
        }
    }

    .select.active .select__body {
        opacity: 1;
        visibility: visible;
        transition: all .5s;
    }

    .select__header {

        display: flex;
        align-items: center;
        justify-content: space-between;


        outline: none;
        background-color: rgba(255, 255, 255, 0.2);
        width: 350px;
        height: 70px;

        border: none;

        cursor: pointer;

        margin-right: 55px;

        .select__current {
            font-size: 22px;

            color: rgb(255, 255, 255);
            font-weight: 700;
            line-height: 1.904;
            text-align: left;

            margin-left: 55px;
        }

        span {
            margin-right: 55px;
        }

    }

    .select__body {
        outline: none;
        background-color: rgba(255, 255, 255, 0.2);
        width: 350px;

        margin-right: 55px;
        border: none;

        opacity: 0;
        visibility: hidden;
        transition: all .5s;

        cursor: pointer;

        position: absolute;

        .select__item {
            font-size: 22px;

            color: rgb(255, 255, 255);
            font-weight: 700;
            line-height: 1.904;
            text-align: left;
            padding: 10px;
            padding-left: 55px;

            &:hover {
                background-color: rgba(220, 220, 220, 0.69);
            }
        }
    }

    .select__input {
        width: 350px;
        height: 70px;

        margin-right: 55px;



        input {
            outline: none;

            background-color: rgba(255, 255, 255, 0.2);
            border: none;

            width: 100%;
            height: 100%;

            cursor: pointer;



            color: rgb(255, 255, 255);
            font-weight: 700;
            line-height: 1.904;
            text-align: left;
            padding: 10px;
            padding-left: 55px;

            font-family: 'Nunito Sans', sans-serif;
            font-size: 22px;

            &::placeholder {
                color: rgb(255, 255, 255);
            }
        }
    }
}

//Footer
.footer {
    text-align: center;
    padding-top: 100px;

    .footer__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        a {
            font-size: 18px;

            color: rgb(43, 50, 58);
            line-height: 2.769;

            &:not(:last-child) {
                margin-right: 40px;
            }

            &:hover {
                color: rgb(68, 151, 243);
            }
        }
    }

    .footer__copyright {
        padding-bottom: 25px;

        p {
            font-size: 15px;
            color: rgb(43, 50, 58);
            font-weight: 700;
            line-height: 2;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            span {
                color: rgb(198, 198, 198);
                margin-left: 10px;
            }

        }

    }

    .footer__social {
        a {
            fiil: #3984f3;

            &:not(:last-child) {
                margin-right: 25px;
            }

            svg {
                width: 47px;
                height: 47px;
                fill: #3984f3;
            }
        }
    }
}