*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

/*****************  BTN *********************/
.btn {
  font-size: 20px;
  color: white;
  font-weight: 700;
  line-height: 1.75;
  padding: 18px 45px;
  border: 0;
  background-color: #3984f3;
}

/*****************  Nav  *********************/
.nav__wrapper {
  padding-top: 50px;
  font-family: 'Nunito', sans-serif;
}

.nav__wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__wrapper nav .logo img {
  height: 50px;
  width: 175px;
}

.nav__wrapper nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__wrapper nav .menu li:not(:last-child) {
  margin-right: 65px;
}

.nav__wrapper nav .menu li #sign {
  border: 3px solid #3984f3;
  padding: 15px 45px;
  color: #3984f3;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

.nav__wrapper nav .menu li a {
  font-size: 20px;
  color: #bab8b8;
  line-height: 0.73;
  text-align: center;
}

.nav__wrapper nav .menu li a:hover {
  color: #4497f3;
}

/*****************  Header  *********************/
.header {
  padding-top: 65px;
  padding-bottom: 200px;
}

.header__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__title h1 {
  font-size: 75px;
  color: #091e40;
  font-weight: 800;
  line-height: 1.067;
  text-align: left;
  width: 100%;
  max-width: 515px;
  margin-bottom: 80px;
}

.header__title p {
  font-size: 22px;
  color: #81858e;
  line-height: 1.591;
  text-align: left;
  font-weight: 400;
  width: 100%;
  max-width: 470px;
  margin-bottom: 95px;
}

.header__pict img {
  -webkit-transform: translateX(75px);
          transform: translateX(75px);
}

/*****************  Order *********************/
.order {
  overflow: hidden;
  background: url(../img/order/back.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.order:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e3d56;
  opacity: 0.5;
  z-index: 1;
}

.order__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 310px;
  margin-bottom: 310px;
  position: relative;
  z-index: 2;
}

.order__intro h2 {
  font-size: 39px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.238;
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

.order__intro h3 {
  font-size: 49px;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.264;
  text-align: center;
}

.order__intro select {
  position: relative;
}

.order__intro .select.active .select__body {
  display: block;
}

.order__intro .select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  width: 350px;
  height: 70px;
  margin-right: 55px;
  border: none;
  cursor: pointer;
}

.order__intro .select__header .select__current {
  font-size: 22px;
  color: white;
  font-weight: 700;
  line-height: 1.904;
  text-align: left;
  margin-left: 10px;
}

.order__intro .select__body {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  width: 350px;
  margin-right: 55px;
  border: none;
  display: none;
  cursor: pointer;
  position: absolute;
}

.order__intro .select__body .select__item {
  font-size: 22px;
  color: white;
  font-weight: 700;
  line-height: 1.904;
  text-align: left;
  padding-left: 10px;
}

.order__intro .select__body .select__item:hover {
  background-color: rgba(220, 220, 220, 0.69);
}
/*# sourceMappingURL=style.css.map */